<!-- Footer Section -->
<footer class="site-footer">
  <div class="footer-container">
    <div class="university-logos">
      <a href="https://www.aalto.fi" target="_blank">
        <img src="assets/images/Logo_Aalto_University.png" alt="Aalto University Logo">
      </a>
      <a href="https://www.helsinki.fi" target="_blank">
        <img src="assets/images/Logo_University_Of_Helsinki.png" alt="University of Helsinki Logo">
      </a>
      <a href="javascript:void(0);" onclick="goBack();">
        <img src="assets/images/Logo_University_Of_Turku.png" alt="University of Turku Logo">
      </a>
        
      <!-- Add more logos as needed -->
    </div>
    
    <div class="contact-information">
      <p>Contact us at: <a href="mailto:mikko.tolonen@helsinki.fi" target="_blank">mikko.tolonen@helsinki.fi</a></p>
    </div>
    
    <div class="funder-logos">
      <a href="https://www.aka.fi" target="_blank">
        <img src="assets/images/Logo_Academy_Of_Finland.png" alt="Academy of Finland Logo">
      </a>
      <a href="https://www.csc.fi" target="_blank">
        <img src="assets/images/Logo_CSC.jpg" alt="CSC Logo">
      </a>
      <a href="https://www.lumi-supercomputer.eu" target="_blank">
        <img src="assets/images/Logo_Lumi.jpg" alt="LUMI Logo">
      </a>
      <!-- Add more logos as needed -->
    </div>
  </div>
</footer>
<!-- End Footer Section -->

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
